@import './custom-bootstrap.scss';

.page-content {
  min-height: 400px;
}

.navbar {
  margin-bottom: 30px;
}

.card {
  padding: 0;
}

.signup-login {
  width: 500px;
  max-width: 100%;
  margin: 100px auto 0;
}

.footer {
  padding: 50px 0;
  text-align: center;
}

.meal-filters {
  @extend .bg-light;
  padding: 15px 0;
  margin-bottom: 25px;

  button {
    margin-left: 15px;
  }

  @media (max-width: 768px) {
    label {
      width: 80px;
    }
  }
}

.react-datepicker-wrapper {
  @extend .form-group;

  input {
    @extend .form-control;
  }
}
