@import './custom-bootstrap.scss';

.footer {
  padding: 50px 0;
  text-align: center;
}

.page-content {
  min-height: 400px;
}

.navbar {
  margin-bottom: 30px;
}

.card {
  padding: 0;
}

.signup-login {
  width: 500px;
  max-width: 100%;
  margin: 100px auto 0;
}
